body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nav-bar-custom {
  margin: auto;
  padding-top: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-right: 15px; */
}

.brand-custom {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-link:hover, .brand-custom:hover {
  color: black;
  transition: linear 0.2s;
  text-decoration: underline;
}

.img-item {
  width: 108px;
  height: 108px;
  /* margin: -1px; */
  cursor: pointer; 
}

.gif-item {
  width: 360px;
  height: 360px;
  /* margin: -1px; */
}

.progress-7 {
  width: 154px;
  height: 154px;
}

.progress-1 {
  width: 100%;
  height: 100%;
}

.progress-2 {
  width: 50%;
  height: 100%;
}

.img-item-hasmodel {
  border-width: 3px !important;
}

.ril-toolbar, .ril__toolbar {
  background-color: rgba(0, 0, 0, 0);
}

.notdisplaymodel-class {
  display: none;
  /* position: absolute;
  top: 10px;
  right: 20px; */
}

.displaymodel-class {
  /* position: absolute;
  top: 10px;
  right: 20px; */
}

/* .gallery-container {
  padding-bottom: 80px;
} */

.holder-overlay {
  position: fixed;
  top: 0;
  bottom:0;
  margin: auto;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 15;
}

.interactive-model-main {
  padding-top: 5%;
  width: 100%;
  height: 80%;
}

.close-overlay-btn {
  width: 240px;
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  margin: auto;
}

.ReactModal__Overlay {
  z-index: 20;
  /* display: none; */
}

.ril-toolbar, .ril__toolbar {
  z-index: 100!important;
}

body,html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.thumbnail {
  width: 100%;
}

.thumbnail-holder {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thumbnail-text {
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  color: white;
  font-weight: 600;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.8rem;
}

.bl-lk-holder {
  display: inline-block;
  width: 100%;
  height: 360px;
}

.thumbnail-sub {
  width: 33.33%;
  display: inline-block;
  /* height: 360px; */
  border: solid 1px;
  border-color: grey;
}

.thumbnail-sub:hover{
  filter: blur(1px);
  transition: ease-in-out 0.2s;
}

.result-model {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 500px;
  border: solid 1px;
  border-color: white;
}

.workflow-sect {
  height: 216px;

}
.workflow-sect:hover {
  cursor: pointer;
}

h3 {
  margin-bottom: 20px;
}

.border-warning {
  border-color: orange!important;
}

.btn-warning {
  color: #212529;
  background-color: orange;
  border-color: orange;
}

.footerbox {
  font-size: 0.4rem;
  color:rgb(180, 180, 180);
  text-align: center;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}


#root {
  position: relative;
  min-height: 100vh;
}

.container {
  padding-bottom: 2rem;
}